.header-wrap {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

.footer-wrap {

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;

    }

}